.padding {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.w3-container {
    padding: 0 30%;
}

img.logo {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
}

img.main {
    width: 80%;
    max-width: 1000px;
    height: auto;
}

.hidden {
    display: none;
}