body {
    background: rgb(34, 193, 195);
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(105, 165, 80, 1) 30%, rgba(190, 119, 149, 1) 50%, rgba(105, 165, 102, 1) 70%, rgba(34, 193, 195, 1) 100%);
    margin: 0;
    min-height: 100vh;
    user-select: none;
}

footer,
header {
    text-align: center;
    background: #2322c9;
    background: linear-gradient(0deg, #2322c9 0, #8040d4 20%, #5d41a9 50%, #8040d4 80%, #2322c9 100%);
    color: #fff
}

header {
    padding: 2px
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

a i {
    float: left
}

button,
h1,
h2,
h3,
h4 {
    font-family: calibri, "Trebuchet MS", sans-serif;
    color: azure
}

button {
    font-size: 30px;
    width: 90%;
    max-width: 600px;
    margin-bottom: 10px;
    animation: size 2s;
    border-radius: 12px
}

button:hover {
    rotate: 1.5deg;
    padding: 12px
}

a {
    text-decoration: none
}