@media only screen and (max-width:600px) {
    .padding {
        padding: 8px
    }

    img.main {
        height: 300px;
        width: auto
    }

    .w3-container {
        padding: 0 0;
    }

    h1 {
        font-size: 30px;
    }

    button {
        font-size: 25px;
    }

    button:hover {
        padding: 9px;
    }
}